<div class="grid__item large--one-half">
  <h3>{{ 'compatibility.apple_compatibility' | t }}</h3>
  <div class="device-icon">
    <img src="{{ 'icon_iphone.png' | asset_url }}" alt=""/>
  </div>
  <ul class="compatibility-list">
    <li>
      <b>{{ 'compatibility.iphone6_plus_6s_plus' | t }}</b>
      ({{ 'compatibility.ios_9_2' | t }})
    </li>
    <li>
      <b>{{ 'compatibility.iphone6_6s' | t }}</b>
      ({{ 'compatibility.ios_9_2' | t }})
    </li>
    <li>
      <b>{{ 'compatibility.iphone5_5s_5c' | t }}</b>
      ({{ 'compatibility.ios_9_2' | t }})
    </li>
    <li>
      <b>{{ 'compatibility.iphone4s' | t }}</b>
      ({{ 'compatibility.ios_9_2' | t }})
    </li>
  </ul>
  <div class="device-icon">
    <img src="{{ 'icon_ipod.png' | asset_url }}" alt=""/>
  </div>
  <ul class="compatibility-list">
    <li>
      <b>{{ 'compatibility.ipod_touch' | t }}</b>
      ({{ 'compatibility.ios_9_2' | t }})
    </li>
  </ul>
  <div class="device-icon">
    <img src="{{ 'icon_ipad.png' | asset_url }}" alt=""/>
  </div>
  <ul class="compatibility-list">
    <li>
      <b>{{ 'compatibility.ipad_air_air2' | t }}</b>
      ({{ 'compatibility.ios_9_2' | t }})
    </li>
    <li>
      <b>{{ 'compatibility.ipad_mini' | t }}</b>
      ({{ 'compatibility.ios_9_2' | t }})
    </li>
  </ul>
    {% assign updated_date = '1460790000' | date: format: 'month_day_year'  %}
  <p>{{ 'compatibility.last_updated_on' | t: date: updated_date}}</p>
</div>
<div class="grid__item large--one-half">
  <h3>{{ 'compatibility.android_compatibility' | t }}</h3>
  <p class="h4">{{ 'compatibility.tested_for_compatibility' | t }}</p>
  <div class="device-icon">
    <img src="{{ 'icon_android_phone.png' | asset_url }}" alt=""/>
  </div>
  <ul class="compatibility-list">
    <li>
      <b>{{ 'compatibility.lg_nexus_5' | t }}>
      ({{ 'compatibility.android_6_0_1' | t }})
    </li>
    <li>
      <b>{{ 'compatibility.samsung_note_5' | t }}</b>
      ({{ 'compatibility.android_6_0_1' | t }})
    </li>
    <li>
      <b>{{ 'compatibility.samsung_note_3' | t }}</b>
      ({{ 'compatibility.android_5_x' | t }})
    </li>
    <li>
      <b>{{ 'compatibility.galaxy_s6_s5_s4' | t }}</b>
      ({{ 'compatibility.android_5_x' | t }})
    </li>
    <li>
      <b>{{ 'compatibility.galaxy_s3' | t }}</b>
      ({{ 'compatibility.android_4_x' | t }})
    </li>
    <li>
      <b>{{ 'compatibility.htc_one_m7' | t }}</b>
      ({{ 'compatibility.android_4_x' | t }})
    </li>
    <li>
      <b>{{ 'compatibility.jitterbug_touch_3_2' | t }}</b>
      ({{ 'compatibility.android_4_x' | t }})
    </li>
  </ul>

  {% comment %}
    capture itunes and play urls for passing to the translation
  {% endcomment %}
  {% capture itunes_url %}
    <a href="https://itunes.apple.com/app/aliveecg/id579769143">
      {{ 'compatibility.app_store' | t }}
    </a>
  {% endcapture %}

  {% capture play_url %}
    <a href="https://play.google.com/store/apps/details?id=com.alivecor.aliveecg">
      {{ 'compatibility.google_play' | t }}
    </a>
  {% endcapture %}

  <h3>Kardia App</h3>
  <p class="h4">
  {{ 'compatibility.use_of_kardia_mobile_requires_html' | t: itunes_url: itunes_url, play_url: play_url }}
  </p>

  <div class="app-store-badges">
    <a class="itunes-badge" href="https://itunes.apple.com/app/aliveecg/id579769143"><img src="https://alivecorcms.s3.amazonaws.com/sites/51b0fa1d9005a1000f00292e/theme/images/appstore-badge.svg" alt="link to AppStore"></a>
    <a class="itunes-badge" href="https://play.google.com/store/apps/details?id=com.alivecor.aliveecg"><img src="https://play.google.com/intl/en_us/badges/images/generic/en-play-badge.png" alt="Android app on Google Play"></a>
  </div>
</div>
