<div class="grid__item large--one-half tech-specs">
  <h3>Tech Specs</h3>
  <ul>
    <li><b>{{ 'tech_specs.dimensions' | t}}</b></li>
    <li>{{ 'tech_specs.product_dims' | t }}</li>
    <li>{{ 'tech_specs.electrode_dims' | t }}</li>
  </ul>

  <ul>
    <li><b>{{ 'tech_specs.weight' | t }}</b></li>
    <li>{{ 'tech_specs.product_weight' | t }}</li>
  </ul>

  <ul>
    <li><b>{{ 'tech_specs.power' | t }}</b></li>
    <li>{{ 'tech_specs.power_source' | t }}</li>
    <li>{{ 'tech_specs.battery_life' | t }}</li>
    <li>{{ 'tech_specs.battery_life_typical' | t }}</li>
  </ul>

  <ul>
    <li><b>{{ 'tech_specs.ekg_characteristics' | t }}</b></li>
    <li>{{ 'tech_specs.single_lead' | t }}</li>
    <li>{{ 'tech_specs.dynamic_range' | t }}</li>
    <li>{{ 'tech_specs.recording_length' | t }}</li>
    <li>{{ 'tech_specs.sample_rate' | t }}</li>
    <li>{{ 'tech_specs.bit_depth' | t }}</li>
  </ul>
</div>

<div class="grid__item large--one-half tech-specs">
  <h3>{{ 'tech_specs.requirements' | t }}</h3>
  <ul>
    <li>{{ 'tech_specs.compatible_device' | t }}</li>
    <li>{{ 'tech_specs.kardia_app' | t }}</li>
  </ul>
  <div class="app-store-badges">
    <a class="itunes-badge" href="https://itunes.apple.com/app/aliveecg/id579769143"><img src="https://alivecorcms.s3.amazonaws.com/sites/51b0fa1d9005a1000f00292e/theme/images/appstore-badge.svg" alt="link to AppStore"></a>
    <a class="itunes-badge" href="https://play.google.com/store/apps/details?id=com.alivecor.aliveecg"><img src="https://play.google.com/intl/en_us/badges/images/generic/en-play-badge.png" alt="Android app on Google Play"></a>

  </div>

  <h3>{{ 'tech_specs.user_manuals' | t }}</h3>
  <ul>
    <li>
        <a href="https://alivecorcms.s3.amazonaws.com/sites/51b0fa1d9005a1000f00292e/content_entry51b0fa2533c901000f002a62/53288a2e21c54eb2870016b2/files/ios_combined_english_and_french_manual.pdf">
          {{ 'tech_specs.ios_user_manual_link' | t }}
        </a>
    </li>
    <li>
      <a href="https://alivecorcms.s3.amazonaws.com/sites/51b0fa1d9005a1000f00292e/content_entry51b0fa2533c901000f002a62/532888c521c54ec96c00198e/files/09LB08-Android-User-Manual.pdf">
        {{ 'tech_specs.android_user_manual_link' | t }}
      </a>
    </li>
  </ul>
</div>
