<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- FONTS =============================================== -->
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600,600italic' rel='stylesheet' type='text/css'>

  <!-- CSS ================================================== -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}
  {% include 'oldIE-js' %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}

  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

</head>

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

  <div id="PageContainer" class="is-moved-by-drawer">
    <header class="site-header" role="banner">
      <div class="wrapper">

        <div class="grid--full grid--table">
          <div class="grid__item large--one-half">
            {% comment %}
              Use the uploaded logo from theme settings if enabled.
              Site name gets precedence with H1 tag on homepage, div on other pages.
            {% endcomment %}
            {% if template == 'index' %}
              <h1 class="site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
            {% else %}
              <div class="h1 site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
            {% endif %}
              {% if settings.logo_use_image %}
                <a href="http://alivecor.com" itemprop="url" class="site-header__logo-link">
                  <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
                </a>
              {% else %}
                <a href="/" itemprop="url">{{ shop.name }}</a>
              {% endif %}
            {% if template == 'index' %}
              </h1>
            {% else %}
              </div>
            {% endif %}
          </div>
          <div class="grid__item large--one-half large--text-right medium-down--hide">
            {% comment %}
              Show number of items in the cart and total cost in the /cart link

              Ajax Cart Notes:
                - #cartCount updates the total number of items in the cart
                - #cartCost updates the total cost of the cart
                - Documentation:  http://shopify.com/timber#ajax-cart
            {% endcomment %}
            <div>
              <a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
                <img src="{{ 'store_icon_cart@3x.png' | asset_url }}"/>
                  <span id="CartCount">
                    {% if cart.item_count > 0 %}
                      {{ cart.item_count }}
                    {% else %}
                      &nbsp;
                    {% endif %}
                  </span>
              </a>
              <a href="#outside-us" class="outside-us">Not in the U.S.A.?</a>
            </div>

            {% comment %}
              If customer accounts are enabled, provide login and create account links
            {% endcomment %}
            {% if shop.customer_accounts_enabled %}
              <div>
                {% if customer %}
                  {% if customer.first_name != blank %}
                    {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                    {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
                  {% else %}
                    <a href="/account">{{ 'layout.customer.account' | t }}</a>
                  {% endif %}
                  | {{ 'layout.customer.log_out' | t | customer_logout_link }}
                {% else %}
                  {{ 'layout.customer.log_in' | t | customer_login_link }}
                  {% if shop.customer_accounts_optional %}
                  | {{ 'layout.customer.create_account' | t | customer_register_link }}
                  {% endif %}
                {% endif %}
              </div>
            {% endif %}

          </div>
        </div>

      </div>
      <div class="site-title">
        <h1 class="text-center">
          <a href="/">
            AliveCor Store
          </a>
        </h1>
      </div>
      <div class="cool-stuff text-center">
        <span class="cool-thing">30-day money back guarantee</span>
        <span class="cool-thing">1-year warranty</span>
      </div>

      {% if template == 'index' %}
        <div class="wrapper">
          <nav class="fake-nav">
            <ul>
              <li class="active">
                <a href="#main-product">AliveCor ECG</a>
              </li>
              <li>
                <a href="#accessories">Accessories</a>
              </li>
            </ul>
          </nav>
        </div>
      {% endif %}
    </header>

    <nav class="nav-bar" role="navigation">
      <div class="wrapper">
        <div class="medium-down--hide">
          {% comment %}
            List out your main-menu linklist (default)

            More info on linklists:
              - http://docs.shopify.com/themes/liquid-variables/linklists
          {% endcomment %}
          <!-- begin site-nav -->
          <ul class="site-nav" id="AccessibleNav">
            {% for link in linklists.main-menu.links %}
              {% comment %}
                Create a dropdown menu by naming a linklist the same as a link in the parent nav

                More info on dropdowns:
                  - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
              {% endcomment %}
              {% assign child_list_handle = link.title | handleize %}
              {% if linklists[child_list_handle].links != blank %}
                <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
                  <a href="{{ link.url }}" class="site-nav__link">
                    {{ link.title }}
                    <span class="icon icon-arrow-down" aria-hidden="true"></span>
                  </a>
                  <ul class="site-nav__dropdown">
                    {% for childlink in linklists[child_list_handle].links %}
                      <li{% if childlink.active %} class="site-nav--active"{% endif %}>
                        <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% else %}
                <li {% if link.active %}class="site-nav--active"{% endif %}>
                  <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
          <!-- //site-nav -->
        </div>
        <div class="large--hide medium-down--show">
          <div class="grid">
            <div class="grid__item one-half">
              <div class="site-nav--mobile">
                <button type="button" class="icon-fallback-text site-nav__link js-drawer-open-left" aria-controls="NavDrawer" aria-expanded="false">
                  <span class="fallback-text">{{ 'layout.navigation.menu' | t }}</span>
                </button>
              </div>
            </div>
            <div class="grid__item one-half text-right">
              <div class="site-nav--mobile">
                <a href="/cart" class="js-drawer-open-right site-nav__link" aria-controls="CartDrawer" aria-expanded="false">
                  <span class="icon-fallback-text">
                    <span class="icon icon-cart" aria-hidden="true"></span>
                    <span class="fallback-text">{{ 'layout.cart.title' | t }}</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <main class="wrapper main-content" role="main">

      {{ content_for_layout }}

    </main>

    <!-- begin site-footer -->
    <footer class="site-footer small--text-center" role="contentinfo">
      <a name="outside-us"></a>
      <div class="wrapper">
        <div class="grid">

          <div class="grid__item large--one-half international-links">
            <h4>Not in the U.S.?</h4>
            <p>AliveCor is available in the following countries</p>
            <p>
              <a href="http://www.alivetec.com/store/">Australia</a> |
              <a href="http://www.amazon.ca/s/ref=bl_dp_s_web_6205177011?ie=UTF8&amp;field-brandtextbin=AliveCor&amp;node=6205177011">Canada</a> |
              <a href="http://hng.co.in:9022/cor/ProductQuantity.aspx">India</a> |
              <a href="http://www.amazon.co.uk/gp/browse.html?ie=UTF8&amp;marketplaceID=A1F83G8C2ARO7P&amp;me=A3CHKKV5Z0PAQD">Ireland</a> |
              <a href="http://www.amazon.co.uk/gp/browse.html?ie=UTF8&amp;marketplaceID=A1F83G8C2ARO7P&amp;me=A3CHKKV5Z0PAQD">United Kingdom</a>
            </p>

            <h5>Don't see your location?</h5>
            <p><a href="http://www.alivecor.com/home#newsletter-signup">Sign up</a> for our newsletter to hear when we add new countries.</p>
          </div>

          <div class="grid__item large--one-half">
            <h4>Need help or have questions?</h4>
            <p>Our customer support team is happy to help.</p>
            <p>Email us at <a href="mailto:support@alivecor.com">support@alivecor.com</a> </p>

            <p>
              Call us at 1-855-338-8800<br>
              Monday through Friday<br>
              7AM to 4PM Pacific Time
            </p>
          </div>

        </div>
      </div>

      <div class="wrapper disclaimer">
        <span>All rights reserved AliveCor</span>
        <a href="http://www.alivecor.com/warranty">Limited Warranty and Returns Policy</a>
      </div>

    </footer>
    <!-- //site-footer -->
  </div>

  {{ 'fastclick.min.js' | asset_url | script_tag }}
  {{ 'timber.js' | asset_url | script_tag }}

  {% comment %}
    Template-specific js
  {% endcomment %}
  <script>
    {% if resetPassword %}
      $(function() {
        timber.resetPasswordSuccess();
      });
    {% endif %}
  </script>

  {% comment %}
    Ajaxify your cart with this plugin.
    Documentation:
      - http://shopify.com/timber#ajax-cart
  {% endcomment %}
  {% if settings.ajax_cart_method == "drawer" %}
    {{ 'handlebars.min.js' | asset_url | script_tag }}
    {% include 'ajax-cart-template' %}
    {{ 'ajax-cart.js' | asset_url | script_tag }}
    <script>
      jQuery(function($) {
        ajaxCart.init({
          formSelector: '#AddToCartForm',
          cartContainer: '#CartContainer',
          addToCartSelector: '#AddToCart',
          cartCountSelector: '#CartCount',
          cartCostSelector: '#CartCost',
          moneyFormat: {{ shop.money_format | json }}
        });
      });

      jQuery('body').on('ajaxCart.afterCartLoad', function(evt, cart) {
        // Bind to 'ajaxCart.afterCartLoad' to run any javascript after the cart has loaded in the DOM
        timber.RightDrawer.open();
      });
    </script>
  {% endif %}

</body>
</html>
